.idea/
frameworks/cocos2d-html5/
frameworks/cocos2d-x/
frameworks/runtime-src/proj.android/
frameworks/runtime-src/proj.ios_mac/
frameworks/runtime-src/proj.win32/
frameworks/runtime-src/proj.linux/
frameworks/runtime-src/proj.android-studio/app/release/
