<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1148},{623,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,65}}</string>
                <key>sourceSize</key>
                <string>{623,65}</string>
            </dict>
            <key>btn_high_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{296,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,93}}</string>
                <key>sourceSize</key>
                <string>{296,93}</string>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,0},{296,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,93}}</string>
                <key>sourceSize</key>
                <string>{296,93}</string>
            </dict>
            <key>btn_previous.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,0},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>ic_mode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,574},{570,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,574}}</string>
                <key>sourceSize</key>
                <string>{570,574}</string>
            </dict>
            <key>ic_mode_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,574},{570,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,574}}</string>
                <key>sourceSize</key>
                <string>{570,574}</string>
            </dict>
            <key>ic_mode_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,574},{570,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,574}}</string>
                <key>sourceSize</key>
                <string>{570,574}</string>
            </dict>
            <key>ic_mode_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,0},{570,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,574}}</string>
                <key>sourceSize</key>
                <string>{570,574}</string>
            </dict>
            <key>ic_mode_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,0},{570,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,574}}</string>
                <key>sourceSize</key>
                <string>{570,574}</string>
            </dict>
            <key>ic_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{1866,1213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0f1b6a3600bcc2a93cf7475428b1cca:9c02225f4681866c9cb51a5c253c3a20:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
